/* Estilos padrão do documento */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("https://i.pinimg.com/originals/21/39/e0/2139e0405ae392726363954e18afa342.jpg");
  background-size: cover; /* Redimensiona a imagem para cobrir todo o fundo */
  background-position: center; /* Centraliza a imagem */
  background-repeat: no-repeat; /* Evita repetição da imagem */
}

  
  .container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 100px ;
    padding: 20px;
    background-color: rgb(224, 191, 191);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .result {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
  }
  
  h2 {
    margin-top: 0;
  }
  
  .result div {
    margin-bottom: 15px;
  }
  
  .result p {
    margin: 0;
    padding: 5px 0;
  }
  
  .salarios-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .salarios-list li {
    padding: 5px 0;
  }
  
  .sum-label {
    font-weight: bold;
  }
  
  pre {
    white-space: pre-wrap;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
  }
  
